.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 20px;
  padding: 0;
}

h1, h2, h3 {
  color: #6c63ff; /* A soft purple */
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

input[type="file"] {
  border: 2px solid #6c63ff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5a52e0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #6c63ff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.datatype-info {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li strong {
  color: #6c63ff;
}

.error-message {
  color: red;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffd1d1;
  border: 1px solid red;
  border-radius: 5px;
}

.success-message {
  color: green;
  margin: 10px 0;
  padding: 10px;
  background-color: #bbf4df;
  border: 1px solid green;
  border-radius: 5px;
}

form label {
  display: block;
  font-weight: bold;
  color: #6c63ff;
  margin-bottom: 15px;
}

form select {
  padding: 4px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #eee;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


form select:focus {
  border-color: #6c63ff;
  box-shadow: inset 0 1px 3px #aaa;
}
